capstone==5.0.5
flake8==7.1.2
markdown-it-py==3.0.0
mccabe==0.7.0
mdurl==0.1.2
mypy==1.15.0
mypy-extensions==1.0.0
numpy==2.2.3
pexpect==4.9.0
ptyprocess==0.7.0
pycodestyle==2.12.1
pyelftools==0.31
pyflakes==3.2.0
Pygments==2.19.1
PyYAML==6.0.2
rich==13.9.4
ruamel.yaml==0.18.10
ruamel.yaml.clib==0.2.12
scipy==1.15.2
setuptools==75.8.0
types-PyYAML==6.0.12.20241230
typing_extensions==4.12.2
unicorn==2.1.2
xxhash==3.5.0
